body {
    background-color: #edad76;
    display: flex;
    text-align: center;
    margin: auto;
    max-width: 1000px;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: #e5e5cb; */
    color: #e73ac4;
    font-size: 4rem;
  }

  .outer {
    border: 1px hotpink;
    width: 400px;
    min-height: 200px;
  }