
  body {
    margin: 1em;
    max-width: 1100px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 3rem;
    font-style: normal;
    align-items: center
      /* color: #e5e5cb; */
}

body {
    background-color: rgb(213, 190, 146);
    align-items: center;
}



    h1 {font: jersey 10;
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal; 
        justify-content: center;
        align-items: center;
  }


p {
    text-align: center;
    align-content: center;
}

p {font-size: 2rem;
align-items: center;
font: jersey 10;
font-family: "Jersey 10", sans-serif;
font-weight: 400;
font-style: normal; 
justify-content: center;
align-items: center;
color: rgb(232, 229, 226);}

#p1 {font-size: 2rem;

align-items: center;}

h1 {
    width: 1200px; 
height:  200px; 
min-width: 700px;
border-radius: 19px; 
color: #e69c09;
border: 2px #b37e15 solid;
align-content: center;
} 

body {
    text-align: center;
  }

h2 {font: jersey 10;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal; 
    justify-content: center;

    width: 1200px; 
    max-height: 100px; 
    min-width: 200px;
    border-radius: 19px; 
    color: #e29a0a;
    border: 2px #b6831d solid;
    font-size: 5rem;
    align-items: center;
}