
  body {
    background-color: #cfbeb2;
    display: flex;
    margin: 1em;
    max-width: 1000px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /* color: #e5e5cb; */
    color: #fa8518;
    font-size: 3rem;}

    h1 {font: jersey 10;
        font-family: "Jersey 10", sans-serif;
        font-weight: 400;
        font-style: normal; 
        justify-content: center;
  }

 


div {align-self:flex-end;
}



p {
    text-align: center;
}

p {font-size: 1rem;}

h1 {
    width: 900px; 
height:  200px; 
min-width: 700px;
border-radius: 19px; 
color: #E2A938;
border: 2px #E2A938 solid
} 

body {
    text-align: center;
}

h2 {font: jersey 10;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal; 
    justify-content: center;
    width: 900px; 
    max-height: 100px; 
    min-width: 200px;
    border-radius: 19px; 
    color: #E2A938;
    border: 2px #E2A938 solid
}